* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: 1px solid red; */
}

body {
	background-image: url(../img/bg_2_b.jpg);
	background-size: cover;
	background-position: 0 20%;
	background-repeat: no-repeat;
}

/* main{
	height: 100vh;
	overflow: hidden;
} */

.wrapper {
	display: flex;
	width: 1200px;
	margin: -100px auto;
}

.icon-wrap {
	padding: 20px 30px;
	width: 200px;
}

.icon-wrap a {
	display: flex;
	justify-content: center;
}

.icon-title p {
	margin-top: 10px;
	text-transform: uppercase;
	/* font-weight: bold; */
	color: #fff;
	text-align: center;
	font-size: 12px;
	overflow: hidden;
}

.links-icons-box {
	margin-top: 30%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.link-icon .favicon {
	width: 32px;
	height: 32px;
	margin: 50%;
	transform: translate(-50%, -50%);
}

.link-icon {
	width: 100px;
	height: 100px;
	/* background-color: #2f3e57; */
	background-color: #ffffff10;
	backdrop-filter: blur(50px);
	-webkit-backdrop-filter: blur(12px);
	border-radius: 10px;
	/* margin: 40px 30px; */
}

.link-icon:hover {
	outline: 2px solid #08f;
}

.search-box {
	position: absolute;
	margin-top: 250px;
	width: 1200px;
	text-align: center;
}

.search-box input {
	width: 400px;
	padding: 10px 40px;
	border: none;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.search-box img {
	width: 32px;
	height: 32px;
	transform: translate(0%, 35%);
}

.search-box .left {
	transform: translate(120%, 35%);
}

.search-box .right {
	transform: translate(-120%, 35%);
}

/* .search-bg {
	position: absolute;
	width: 480px;
	height: 36px;
	background-color: #fff;
	top: 10px;
	right: 360px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	z-index: -5;
} */

/* .search-box::before{
	/* content: "";
	width: 100px;
	height: 100px;
	background-color: #fff;
	position: absolute;
	content: "";
	display: inline-block;
	width: 36px;
	height: 35px;
	top: 10px;
} */
